*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
@font-face {
    font-family:Resitta;
src:url(fuentes/Resitta.ttf);
}


 /* header y footer */ 

 .nav {
    background: #3b3b3b;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.nav label a{
color: white;
font-size: 30px;
margin-left: 30px;
font-family: resitta;
text-decoration: none;
}

.nav label a:link {
    color: white;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 30px;
    font-family: resitta;
    text-decoration: none;
    }

    .nav label a:visited {
        color: white;
        font-size: 30px;
        margin-top: 40px;
        margin-left: 30px;
        font-family: resitta;
        text-decoration: none;
        }

.nav ul {
    display: flex;
    padding-top: 7px;
   justify-content: center;
}

.nav ul li {
    margin-left:  17px;
  
}

.nav ul li a {
    color: white;
    font-family: Roboto, sans-serif; 
    font-size: 13px;
}
.nav ul li a:link {
    text-decoration: none;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 13px;
}

.nav ul li a:visited {
    text-decoration: none;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 13px;
}
 
.checkbtn {
    font-size: 25px;
    color: white;
    position: absolute;
    left: 90%;
    top: 6px;
    display: none;
}
 #check {
     display: none;
 }

 .redes {
   
    margin-top: 5px;
    display: flex;
    margin-right: 25px;
}
    
.redes a img{
    height: 25px;
    width: 25px;
    margin-right: 9px;
}

.cover {
    height: 550px;
    background-image: url(../images/5.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0, 0, 0.25);
    background-blend-mode: darken;
}

  
.servicios {
    height: 550px;
    background-image: url(../images/servicioscover.jpg) ;
    background-size: cover;
    background-position: bottom;
    background-color: rgba(0,0, 0, 0.25);
    background-blend-mode: darken;
}

.cursos {
    height: 550px;
    background-image: url(../images/portadacursos.jpg) ;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0, 0, 0.25);
    background-blend-mode: darken;
}

.galeria {
    height: 550px;
    background-image: url(../images/galeriaportada.jpg) ;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0, 0, 0.25);
    background-blend-mode: darken;
    text-align: center;
}

.contacto {
    height: 550px;
    background-image: url(../images/portadacontacto.jpg) ;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0, 0, 0.25);
    background-blend-mode: darken;
}


div h1 {
    font-family: resitta;
    font-size: 95px;
    display: flex;
    justify-content: center;  
}

div h2 {
   font-family: Roboto, sans-serif;
   font-size: 20px;
   justify-content: center;
}
div .secundario {
   
    line-height: 50px;
}

.resaltado{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 45%;
    margin-bottom: 50px;
    text-align: center ;
    width: 10%;
    height: 9px;
}

.suscribir {
margin-top: 3px;
margin-right: 9px;
}

ul button {
    background-color: #E3C5BB;
    color: white;
    border-radius: 5px;
    border: none;
}

.footer_mobile {
    display: none;
}

.final h3 {
    font-size: 14px;
    display: flex;
    justify-content: center;
   align-items: flex-start;
   margin-bottom: 20px;
}


.final {
    background-color: #3b3b3b;
   color: rgba(236, 236, 236, 0.897);
   padding-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.final p {
    margin-top: 5px; 
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.row {
    justify-content: space-between;
    align-items: flex-start;
    
}

.col_in{
    margin-right: 70px;
    margin-left: 70px;

}

.home {
    color: rgb(122, 121, 121);
    text-decoration: none; 
    margin-left: 1%;
}


/*index*/ 

.rosa_index {
    position: absolute;
    background-color:  #E3C5BB;
    width: 135px;
    height: 20px;
    left: 45%;
    top: 676px;
}

.subtitulo_index {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 4%;
    text-align: center ;
}

.articulo {
    justify-content: center;
    overflow: auto;
    padding: 15px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 400px;
    grid-gap: 0;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 6%;
}

.articulo img {
   margin-left: 10%;
   margin-top: 15%;
    grid-area: 1 / 1 / 2 / 2 ;
}

 .articulo p  {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10%;
    margin-left: 11.2%;
    color: rgb(53, 52, 52);
    grid-area: 1 / 2 / 2 / 3;
}
.rectangulo {
    
    height: 260px;
    width: 380px;
    background-color: #dbb7aa;
    grid-area: 1 / 1 / 2 / 2 ;
    margin-top: 8%;
    margin-left: 3%;
}
.rectangulo_2 {
    width: 360px;
    height: 235px;
    border: solid 3px white;
    grid-area: 1 / 1 / 2 / 2 ;
    margin-top: 20%;
    margin-left: 14.5%;

}
.titulo_article {
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    font-family: 'Merriweather', serif;
    font-size: 25px;
    padding-left: 5px;
}
.formulario {
    height: 180px;
    margin-bottom: 5%;
    display: flex;
    width: 74%;
    margin-left: 13%;
    border: solid 3px #dbb7aa ;
    justify-content: center;
    box-shadow: 0 0 10px #dbb7aa, 0 0 15px #dbb7aa, 0 0 15px #dbb7aa;
    padding-top: 22px;
}

.cambio {
    background-color: #dbb7aa;
    color: white;
    border-radius: 5px;
    border: none;
  
}
.cambio:hover {
    box-shadow: 0 0 10px #dbb7aa, 0 0 20px #dbb7aa, 0 0 20px #dbb7aa;
    background-color: #dbb7aa;
    color: white;
    border-radius: 5px;
    border: none;

}
.cambio_sus {
    background-color: #dbb7aa;
    color: white;
    width: 130px ;
    height: 40px;
    border-radius: 5px;
    border: none;
}

.cambio_sus:hover {
    box-shadow: 0 0 10px #dbb7aa, 0 0 20px #dbb7aa, 0 0 20px #dbb7aa;
    background-color: #dbb7aa;
    color: white;
    width: 130px ;
    height: 40px;
    border-radius: 5px;
    border: none;
}

p {
    font-family: Roboto, sans-serif;
}

.suscribir {
    display: flex;
    padding-top: 1.25%;
    color: rgb(41, 41, 41);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 22px;
}
.p_form {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.recuadro {
    display: flex;
    justify-content: center;
}

.email {
    width: 500px;
height: 40px;
border-radius: 5px;
border: solid 1px rgb(102, 98, 98);
padding-left: 5px;
}

section ul li img {
    width: 250px;
    height: 250px;
}

.subt_equipo {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.equipo {
    font-family: 'Merriweather', serif;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px ;
    grid-gap: 1%;
    justify-content: center;
    margin-bottom: 27%;
    margin-left: 3%;
}

.ile {
    grid-area: 1 / 1 / 2 / 2; 
}

.sol {
    grid-area: 1 / 2 / 2 / 3;
}
 
.van {
    grid-area: 1 / 3 / 2 / 4 ;
}

.rect_fotoi {
    grid-area: 1 / 1 / 2 / 2;
    border: solid 0.5px white;
    width: 220px;
    height: 220px;
    margin-top: -188px;
    margin-left: 15px;
}

.rect_fotos {
    grid-area: 1 / 2 / 2 / 3;
    border: solid 0.5px white;
    width: 220px;
    height: 220px;
    margin-top: -188px;
    margin-left: 15px;
}

.rect_fotov {
    grid-area: 1 / 3 / 2 / 4 ;
    border: solid 0.5px white;
    width: 220px;
    height: 220px;
    margin-top: -188px;
    margin-left: 15px;
}

.equipo li p {
    margin-top: 2%;
    font-size: 18px;
    text-align: center;
    width: 255px;
}

ul li h2 {
    
    font-size: 22px;
    margin-top: 14%;
    width: 210px;
    text-align: center;
    background-color: #dbb7aa ;
    margin-left: 7%;
}

.shadow-drop-2-center {
       -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
  @-webkit-keyframes shadow-drop-2-center {
   0% {
   -webkit-transform: translateZ(0);
    transform: translateZ(0);
   -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
 }
 100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}
}
 @keyframes shadow-drop-2-center {
 0% {
     -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
       box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
 100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
       -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}
}
  
   /*servicios*/ 

   .rosa_serv {
    position: absolute;
    background-color:  #E3C5BB;
    width: 153px;
    height: 10px;
    left: 44.4%;
    top: 665px;
}

.serv {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 0;
    justify-content: center;
    margin-top: 2%;
}
.rectangulo1 {
    height: 260px;
    width: 380px;
    background-color: #dbb7aa;
    grid-area: 1 / 1 / 2 / 2 ;
    margin-top: 11%;
    margin-left: 4%;
}
.rect_servicios1 {
    width: 328px;
    height: 235px;
    border: solid 3px white;
    grid-area: 1 / 1 / 2 / 2 ;
    margin-left: 5%;
    margin-top: 6%;
    
}

.titulo_serv1 {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    grid-area: 1 / 2 / 2 / 3;
   margin-top: 24%;
}

.p_serv1 {
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 10px;
    margin-top: 35%;
    margin-left: 5%;
    font-size: 18px;
}

.img_serv1 {
    grid-area: 1 / 1 / 2 / 2 ;
}

.titulo_serv2 {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 23%;
    margin-right: 5%;
}  

.p_serv2 {
    grid-area: 2 / 1 / 3 / 2;
    margin-right: 5%;
    margin-top: 45%;
    font-size: 18px;

}

.img_serv2 {
    grid-area: 2 / 2 / 3 / 3 ;
    margin-top: 10%;
    margin-left: 7%;
}

.rect_servicios2 {
    width: 300px;
    height: 235px;
    border: solid 3px silver;
    grid-area: 2 / 2 / 3 / 3  ;
    margin-left: 12%;
    margin-top: 15%;
}

.rectangulo3 {
    height: 220px;
    width: 350px;
    background-color: silver;
    grid-area: 3 / 1 / 4 / 2 ;
    margin-top: 16%;
    margin-left: 1.5%;
}
.rect_servicios3 {
    width: 315px;
    height: 195px;
    border: solid 3px white;
    grid-area: 3 / 1 / 4 / 2 ;
    margin-left: 5%;
    margin-top: 23%;
    margin-left: 10%;
}

.titulo_serv3 {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    display: flex;
    justify-content: start;
    grid-area: 3 / 2 / 4 / 3;
   margin-top: 34%;
   margin-left: 4%;
}

.p_serv3 {
    grid-area: 3 / 2 / 4 / 3;
    padding-left: 10px;
    margin-top: 45%;
    margin-left: 2%;
    font-size: 18px;
}

.img_serv3 {
    grid-area: 3 / 1 / 4 / 2 ;
    margin-top: 23%;
    margin-left: 10%;
}

.titulo_serv4 {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    grid-area: 4 / 1 / 5 / 2;
   margin-top: 47%;
    margin-right: 6%;
}  

.p_serv4 {
    grid-area: 4 / 1 / 5 / 2;
    margin-top: 71%;
    font-size: 17.8px;
    margin-right: 8%;
}

.img_serv4 {
    grid-area: 4 / 2 / 5 / 3 ;
    margin-top: 22%;
    margin-bottom: 15%;
    margin-left: 8%;
}

.rect_servicios4 {
    width: 300px;
    height: 380px;
    border: solid 3px #dbb7aa;
    grid-area: 4 / 2 / 5 / 3  ;
    margin-top: 16%;
    margin-left: 3%;
}


/* cursos */ 

.rosa_cursos {
    position: absolute;
    background-color:  #E3C5BB;
    width: 135px;
    height: 10px;
    left: 45%;
    top: 665px;
}

.cursos_fotos {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
}
.consulta {
    display: flex;
    justify-content: center;
}

.consulta p {
font-weight: 800;
}

.datos {
    display: flex;
    justify-content: center;
}

.mail {
       display: flex;
    justify-content: center;
}

.form_cursos {
    height: 230px;
    width: 40%;
    background-color: none  ;
    border: solid 3px #E3C5BB;
    justify-content: center;
    padding-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;   
    margin-bottom: 6%;  
    margin-left: 30%;
}

.form_cursos p {
    font-size: Roboto, sans-serif ;
    font-weight: 700;
    padding-top: -50%;   
    justify-content: center;
}

.cont_curso {
        width: 50%;
        margin-left: 25%;
        margin-top:  -32px;
        color: #E3C5BB;
}

.contactar_curso {
    display: flex;
    justify-content: center;  
    font-family: Roboto, sans-serif ;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px; 
    padding-bottom: 10px;
    background-color: white; 
}

section input {
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: #721121;
    background-color: transparent;
    color: #721121;
    padding-bottom: 15px;
    margin-left: 5px;
}

.datos {
    margin-top:25px;
    margin-bottom: 20px;
    }
    
.elegir {
    margin-top:30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    }
    
.enviar    {
     
     color: white;
     font-size: 20px;
     border-radius: 5px;
     padding-top: 7px;
     padding-bottom: 8px;
     padding-right: 10px;
     padding-left: 10px; 
     width: 30%;
     justify-content: center;
     margin-left: 35%;
     margin-top: 10px;
    }   
.card-title {
    font-family: 'Merriweather', serif;
    font-weight: 500;
}
.cover-small {
        height: 250px;
        background-blend-mode: normal;
}
.mb-4 {
    margin-top: 25px;
}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	 animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}
  
  
 

/*GALERIA*/
 
.rosa_galeria {
    position: absolute;
    background-color:  #E3C5BB;
    width: 135px;
    height: 10px;
    left: 45%;
    top: 665px;
}

.galeria_imagenes {
    margin-top: 6%;
    margin-bottom: 6%;
}

.contenedor_galeria {
    display: flex;
    justify-content: center;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.previo {
    width: 40px;
    height: 40px;
}

.prox {
    width: 40px;
    height: 40px;
} 

/*CONTACTO*/
 
.rosa_contacto {
    position: absolute;
    background-color:  #E3C5BB;
    width: 157px;
    height: 10px;
    left: 44%;
    top: 665px;
}

 .contact {
     display: flex;
     justify-content: center;
    height: 420px;
}

 .form_contacto {
    
    width: 40%;
    background-color: none  ;
    border: solid 3px #E3C5BB;
    justify-content: center;
    padding-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;   
    margin-bottom: 6%;  
}
.cont {
    width: 60%;
    margin-left: 20%;
    margin-top:  -27px;
    color: #E3C5BB;
}


.contactar {
       display: flex;
       justify-content: center;  
       font-family: Roboto, sans-serif ;
       font-size: 20px;
       font-weight: bold;
       padding-top: 10px; 
       padding-bottom: 10px;
       background-color: white; 
       
}

.mensaje_contacto {
         width: 100%;
         height: 120px;
         border-color: #E3C5BB;
        justify-content: center;
}

.acepto {
        display: flex;
         justify-content: center;  
         margin-bottom: 5px;
         margin-top: 9px;
}
 
.checkbox {
    margin-top: 6px;
    margin-right: 4px;
}

.nombre {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1.5px #E3C5BB;
    margin-top: -20px;
}


/* MOBILE*/
 
@media (max-width: 640px) {
/* header y footer*/

div h1 {
    font-family: resitta;
    font-size: 80px;
    display: flex;
    justify-content: center;  
}
.secundario {
    font-family: resitta;
    font-size: 80px;
    display: flex;
    justify-content: center; 
    text-align: center;
}
.encabezado p {
    text-align: center;
}
.row {
    display: flex;
    flex-direction: column;
    
}

.footer {
    display: none;
}

.footer_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_mobile p {
   font-size: 14px;
   line-height: 15px;
}

.redes_mobile {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: 10%;
    border: 1px solid white;
    border-left: none;
    border-right: none;
    border-top: none;
}
.redes_mobile img {
    height: 25px;
    width: 25px;
   margin: 10px;
}

.final_serv {
margin-top: 1850px;
}

#logo {
    margin-left: 20px;
}

.checkbtn {
    display: block;
    left: 88%;
}

.lista {
    position: absolute;
    width: 50%;
    height: 100vh;
    background: rgb(20, 20, 20);
    top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    left: -100%;
    transition: all .5s;
    padding: 0;
    opacity: 95%;
       
}
.nav ul {
    padding-bottom: 90%;
}

.nav ul li {
    margin-top: 20px;
    line-height: 30px;
    margin-left: -2%;
}

.nav ul li a {
    font-size: 18px;
}

#check:checked ~ ul{
left: 0;
}

.redes {
    display: none;
}


/*index*/

.rosa_index {
    display: none;
}
.subtitulo_index {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}



.articulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
   
.articulo img {
    margin-top: -58%;
    width: 270px;
    height: 180px;
    margin-left: 20px;
}

.titulo_article {
    margin-top: 32px;
    margin-left: 8px;
}

.rectangulo {
    height: 170px;
    width: 277px;
   margin-left: -25px;
}

.rectangulo_2 {
    border: none;
    width: 20px;
    height: 20px;
}

.articulo p {
    font-size: 17px;
    margin-left: 6%;
}

.formulario {
    width: 90%;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-top: -50px;
    box-shadow: none;
    border: none;
    
}

.email {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    border: solid 1px  #E3C5BB;
    border-radius: 0;
}

.cambio_sus {
    position: static;
    justify-content: center;
    width: 40%;
    margin-left: 30%;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color:  #0f0f0f;
    border-radius: 0;
}

.cambio_sus:hover {
    background-color:  #0f0f0f;
    border-radius: 0;
    box-shadow: none;
}

.suscribir {
    display: flex;
    justify-content: center;
    font-size: 15px;
   
}

.p_form {
    font-size: 14px;
    margin-bottom: -5px;
    padding-left: 12px;
    padding-right: 12px;
}

.equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.rect_fotoi {
    margin-top: -249%;
    margin-left: -4px;
    border: solid 1px white;
}

.rect_fotos {
   margin-top: -237%;
   margin-left: -4px;
   border: solid 1px white;
}

.rect_fotov {
   margin-top: -249%;
   margin-left: -4px;
   border: solid 1px white;
}

/*servicios*/

.serv {
    display: flex;
    flex-direction: column;
   
}

.rosa_serv {
    display: none;
}

.rectangulo1 {
    width: 300px;
    height: 215px;
    position: absolute;
    top: 890px;
    left: 8%;
}

.titulo_serv1 {
    font-size: 22px;
   margin-top: 20px;
}

.p_serv1 {
margin-top: 4%;
padding: 0;
margin-left: 0;
font-size: 17px;
padding-left: 28px;
padding-right: 28px;
text-align: center;
}

.img_serv1 {
    
    width: 290px;
    height: 217px;
    position: absolute;
    top: 950px;
    left: 8%;
    
}

.rect_servicios1 {
    border: solid 1px white;
    top: 946px;
    height: 180px;
    width: 250px;
    position: absolute;
    left: 8%;
}

.titulo_serv2 {
    position: absolute;
    top: 1195px;
    left: 50px;
    display: inline;
   justify-content: center;
    margin: 0;
    font-size: 22px;
}

.p_serv2 {
    position: absolute;
    top: 1242px;
    text-align: center;
    padding-left: 28px;
    padding-right: 28px;
    margin: 0;
    font-size: 17px;
    
}

.img_serv2 {
    position: absolute;
    top: 1342px;
    left: 9%;
    width: 76%;
}

.rect_servicios2 {
    position: absolute;
    top: 1343px;
    right: 16%;
    border: 1px solid silver;
    width: 76%;
    height: 34%;
}

.titulo_serv3 {
    position: absolute;
    top: 1560px;
    font-size: 22px;
    left: 85px;
    
}

.p_serv3 {
    position: absolute;
    top: 1732px;
    margin: 0;
    font-size: 17px;
    text-align: center;
    padding-left: 28px;
    padding-right: 28px;
    
}
.rectangulo3 {
    position: absolute;
    top: 1810px;
    width: 280px;
    left: 24px;
    height: 175px;
}

.img_serv3 {
    position: absolute;
    top: 1810px;
    width: 280px;
    height: 187px;
    left: 25px;
}

.rect_servicios3 {
    position: absolute;
    top: 1810px;
    width: 249px;
    height: 149px;
    left: 25px;
    border: solid 1px white;
}

.titulo_serv4 {
    position: absolute;
    top: 1940px;
    font-size: 22px;
    left: 22px;
    padding-left: 28px;
    padding-right: 28px;
    text-align: center;
}

.p_serv4 {
    position: absolute;
    top: 2190px;
    margin: 0;
    font-size: 17px;
    width: 100%;
    padding-left: 28px;
    padding-right: 28px;
    text-align: center;
}

.img_serv4 {
    position: absolute;
    top: 2230px;
    left: 18px;
}

.rect_servicios4 {
    position: absolute;
    top: 2280px;
    left: 18px;
    border: 1px solid #E3C5BB;
}
/*cursos*/

.rosa_cursos {
    display: none;
    }
.cursos_fotos {
    justify-content: center;
}   

.enviar {
   background-color: black;
   border-radius: 0;
width: 33%;
font-size: 15px;
}
.form_cursos  {
        border: none;
        margin-left: 0;
        width: 100%;
        margin-bottom: 200px;
        padding-right: 45px;
        padding-left: 45px;
    }
    
.contactar_curso {
        margin-top: 40px;
        background-color: none;
        padding: 0;
        font-size: 15px;
    }
    
.mail {
        flex-direction: column;
        margin-top: -15px;
    }
    
/*galería*/

.rosa_galeria {
    display: none;;
}

.resaltado {
    
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.galeria_movil {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 12%;
    margin-bottom: 12%;
}

/*contacto*/


.rosa_contacto {
display: none;
}

.form_contacto {
    margin-top: 20px;
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    border: none;

}

.datos {
    flex-direction: column;
    margin-top: -20px;
}

.nombre {
    margin-top: 10px;
    padding: 0;
}

.mensaje_contacto {
    width: 100%;
    height: 150px;
    padding-bottom: 100px;
}


.contactar {
    
    justify-content: center;
    font-size: 18px;
    margin-left: 8%;
    text-align: center;
}

.enviar_cont {
    background-color: black;
    box-shadow: none;
    border-radius: 0;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
   width: 33%;
   margin-left: 35%;
  margin-top: 10px;
}

.final_contacto {
    margin-top: 120px;
}


/*Esto corresponde a mobile, iPhone 6,7 y 8*/ 

}
 /* TABLET*/ 
 @media (max-width: 1024px) and (min-width: 768px) {

.final p {
        font-size: 14px;
    }
    .footer_mobile {
        display: none;
    }
/*index*/

.rosa_index {
    display: none;
}

.articulo {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.articulo img {
    margin-top: -32%;
    width: auto;
    margin-right: 13%;
}

.rectangulo {
    margin-right: -2%;
}

.formulario {
    width: 80%;
    justify-content: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.rectangulo_2 {
   display: none;
}

.articulo p {
    display: flex;
   margin-left: auto;
   margin-top: 10px;
   padding: 50px;
}

.titulo_article {
margin-top: 45px;
justify-content: center;
text-align: center;

}

.suscribir {
    margin-top: -25px;
    letter-spacing: 2px;
}

.p_form {
    letter-spacing: 2px;
}

.equi {
    display: flex;
    justify-content: center;
    
}
.equipo {
    margin-top: 20px;
    width: 70%;
    margin-left: 5%;
    margin-bottom: 35%;
}

/*servicios*/ 

.rosa_serv {
    display: none;
}

.resaltado {
    margin-bottom: 70px;
}

.p_serv1 {
    margin-left: 45px;
}

.titulo_serv1 {
    margin-left: 45px;
}

.titulo_serv2 {
    margin-left: 20px;
}
.p_serv2 {
    margin-left: 20px;
}

.img_serv2 {
    margin-left: 80px;
}

.rect_servicios2 {
    margin-left: 50px;
}

.titulo_serv3 {
    margin-left: 45px;
}

.p_serv3 {
    margin-left: 45px;
}

.titulo_serv4 {
    margin-left: 20px;
}

.p_serv4 {
    margin-left: 20px;
}

.img_serv4 {
    margin-left: 80px;
}

.rect_servicios4 {
    margin-left: 50px;
}

/*cursos*/

.rosa_cursos {
    display: none;
}

.cursos_fotos {
    width: 85%;
    margin-left: 7.5%;
}

.form_cursos {
    width: 50%;
    margin-left: 25%;
}

/*galeria*/

.rosa_galeria {
    display: none;
}

.carousel-item {
    width: 700px;
}
/*contacto*/

.rosa_contacto {
    display: none;
}

.form_contacto {
    width: 50%;
}

.enviar_cont {
    margin-top: 6.5%;
}

 }